<br>
<div id="toast" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive"
    aria-atomic="true" style="position: fixed; right: 0; z-index: 1000; margin-right: 2%;">
    <div class="d-flex">
        <div class="toast-body">
            Se ha actualizado tu informacion!!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>


<div class="container" *ngIf="usuario">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <!--Todo, poder editar la foto-->
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{usuario.rutaImagen}}" alt="Perfil" class="rounded-circle p-1 bg-primary"
                                width="110">
                            <div class="mt-3">
                                <h4>{{usuario.nickname}}</h4>
                                <p class="text-muted font-size-sm">{{usuario.rol}}</p>
                            </div>
                        </div>

                        <hr class="my-4">
                        <ul class="list-group list-group-flush">

                            <!-- Instagram -->
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/instagram.svg"> Instagram</h6>
                                <span *ngIf="usuario.nickInstagram && !vVisi.vInstagram" class="text-secondary"
                                    (click)="cambiarVisibilidad('vInstagram','ieIG')">{{usuario.nickInstagram}}
                                    <img src="assets/imagenes/pictures/edit.svg"></span>
                                <ng-container *ngIf="!vVisi.vInstagram; else inputIG">
                                    <div *ngIf="!usuario.nickInstagram">
                                        <button class="boton-añadir" (click)="cambiarVisibilidad('vInstagram','ieIG')">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-template #inputIG>
                                    <input id="ieIG" type="text" [(ngModel)]="usuario.nickInstagram"
                                        class="form-control d-inline ml-2" style="width: fit-content;"
                                        (blur)="vVisi.vInstagram = false">
                                </ng-template>
                            </li>

                            <!-- Facebook -->
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/facebook.svg"> Facebook</h6>
                                <span *ngIf="usuario.nickFacebook && !vVisi.vFacebook" class="text-secondary"
                                (click)="cambiarVisibilidad('vFacebook','ieFC')">
                                    {{usuario.nickFacebook}}
                                    <img src="assets/imagenes/pictures/edit.svg"></span>
                                <ng-container *ngIf="!vVisi.vFacebook; else inputFC">
                                    <div *ngIf="!usuario.nickFacebook">
                                        <button class="boton-añadir" (click)="cambiarVisibilidad('vFacebook','ieFC')">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-template #inputFC>
                                    <input id="ieFC" type="text" [(ngModel)]="usuario.nickFacebook"
                                        class="form-control d-inline ml-2" style="width: auto;"
                                        (blur)="vVisi.vFacebook = false">
                                </ng-template>
                            </li>
                            <!-- Twitter -->
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/twitter.svg"> Twitter</h6>
                                <span *ngIf="usuario.nickTwitter && !vVisi.vTwitter" class="text-secondary"
                                (click)="cambiarVisibilidad('vTwitter','ieTW')">{{usuario.nickTwitter}}
                                    <img src="assets/imagenes/pictures/edit.svg"></span>
                                <ng-container *ngIf="!vVisi.vTwitter; else inputTW">
                                    <div *ngIf="!usuario.nickTwitter">
                                        <button class="boton-añadir" (click)="cambiarVisibilidad('vTwitter','ieTW')">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-template #inputTW>
                                    <input id="ieTW" type="text" [(ngModel)]="usuario.nickTwitter"
                                        class="form-control d-inline ml-2" style="width: auto;"
                                        (blur)="vVisi.vTwitter = false">
                                </ng-template>
                            </li>

                            <!-- Reddit -->
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/reddit.svg"> Reddit</h6>
                                <span *ngIf="usuario.nickReddit && !vVisi.vReddit" class="text-secondary"
                                (click)="cambiarVisibilidad('vReddit','ieRD')">{{usuario.nickReddit}}
                                    <img src="assets/imagenes/pictures/edit.svg"></span>
                                <ng-container *ngIf="!vVisi.vReddit; else inputRD">
                                    <div *ngIf="!usuario.nickReddit">
                                        <button class="boton-añadir" (click)="cambiarVisibilidad('vReddit','ieRD')">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-template #inputRD>
                                    <input id="ieRD" type="text" [(ngModel)]="usuario.nickReddit"
                                        class="form-control d-inline ml-2" style="width: fit-content;"
                                        (blur)="vVisi.vReddit = false">
                                </ng-template>
                            </li>

                            <!-- Discord -->
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/discord.svg"> Discord</h6>
                                <span *ngIf="usuario.nickDiscord && !vVisi.vDiscord" class="text-secondary"
                                (click)="cambiarVisibilidad('vDiscord','ieDC')">{{usuario.nickDiscord}}
                                    <img src="assets/imagenes/pictures/edit.svg"></span>
                                <ng-container *ngIf="!vVisi.vDiscord; else inputDC">
                                    <div *ngIf="!usuario.nickDiscord">
                                        <button class="boton-añadir" (click)="cambiarVisibilidad('vDiscord','ieDC')">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-template #inputDC>
                                    <input id="ieDC" type="text" [(ngModel)]="usuario.nickDiscord"
                                        class="form-control d-inline ml-2" style="width: auto;"
                                        (blur)="vVisi.vDiscord = false">
                                </ng-template>
                            </li>

                            <!-- GitHub -->
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/github.svg"> GitHub</h6>
                                <span *ngIf="usuario.nickGitHub && !vVisi.vGitHub" class="text-secondary"
                                (click)="cambiarVisibilidad('vGitHub','ieGH')">{{usuario.nickGitHub}}
                                    <img src="assets/imagenes/pictures/edit.svg"></span>
                                <ng-container *ngIf="!vVisi.vGitHub; else inputGH">
                                    <div *ngIf="!usuario.nickGitHub">
                                        <button class="boton-añadir" (click)="cambiarVisibilidad('vGitHub','ieGH')">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-template #inputGH>
                                    <input id="ieGH" type="text" [(ngModel)]="usuario.nickGitHub"
                                        class="form-control d-inline ml-2" style="width: auto;"
                                        (blur)="vVisi.vGitHub = false">
                                </ng-template>
                            </li>

                        </ul>

                        <!-- Esto se vera en la tarjeta de informacion del usuario, no en la de edicion
                        <ul class="list-group list-group-flush">    
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                *ngIf="usuario.nickInstagram">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/instagram.svg"> Instagram</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                *ngIf="usuario.nickFacebook">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/facebook.svg"> Facebook</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                *ngIf="usuario.nickTwitter">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/twitter.svg"> Twitter</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                *ngIf="usuario.nickReddit">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/reddit.svg"> Reddit</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                *ngIf="usuario.nickDiscord">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/discord.svg"> Discord</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                *ngIf="usuario.nickGitHub">
                                <h6 class="mb-0"><img src="assets/imagenes/logos/perfil/github.svg"> Github</h6>
                                <span class="text-secondary">bootdey</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                                *ngIf="!usuario.nickInstagram && !usuario.nickFacebook && !usuario.nickTwitter && !usuario.nickReddit && !usuario.nickDiscord && !usuario.nickGitHub">
                                <h6 class="mb-0">Aun no hay redes sociales!</h6>
                            </li>
                        </ul> 
                    -->
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <!--    Aqui van si hay que meter mas-->
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [(ngModel)]="usuario.nombre">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Apellido</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [(ngModel)]="usuario.apellido">
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telefono</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [(ngModel)]="usuario.telefono">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [(ngModel)]="usuario.email" readonly>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fecha de creacion de cuenta</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" [(ngModel)]="usuario.fechaCreacionCuenta"
                                    readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="button" class="btn btn-primary px-4" value="Save Changes"
                                    (click)="updateUsuario()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>