

.filtro-container {
  background-color: #f0f0f0;
  /* Color de fondo gris */
  /* Radio de borde redondeado */
  padding: 10px;
  /* Espacio interno */
}

.filtro-content {
  padding: 5px;
  /* Espacio interno para el contenido */
}

.filtro-menu {
  display: flex;
  align-items: center;
}

.filtro-menu select {
  margin-right: 5px;
}

.filtro-menu span {
  margin: 0 5px;
}